@keyframes animateProgress {
  100% {
    right: 0%;
  }
  0% {
    right: 100%;
  }
}

@keyframes lose {
  100% {
    scale: 1;
  }
  0% {
    scale: 15;
  }
}

@keyframes win {
  100% {
    scale: 1;
  }
  0% {
    scale: 15;
  }
}

@keyframes restart {
}
