body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#canvas {
  margin-left: 140px;
}

#container-UI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  color: rgba(232, 232, 232, 0.962);
  display: flex;
  justify-content: center;
}

#container-stats {
  width: 800px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgb(42, 189, 1); */
  letter-spacing: 1.2px;
  font-size: 23px;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}

.blackScreen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.622);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
}

#container-menu {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#lose {
  font-size: 100px;
  color: whitesmoke;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.789);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: none;
  margin: auto;
  animation: lose 0.2s linear forwards;
  /* border: 1px solid red; */
}

#win {
  font-size: 100px;
  color: whitesmoke;
  text-shadow: 3px 3px 3px black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: none;
  margin: auto;
  animation: win 0.2s linear forwards;
}

#reload {
  width: 200px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.274);
  color: rgb(231, 231, 231);
  font-size: 22px;
  background-color: transparent;
  display: none;
  /* animation: restart 0.8s ease forwards; */
  background-color: rgba(0, 0, 0, 0.473);
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
  font-family: cursive;
  letter-spacing: 1px;
  padding: 15px;
  margin: auto;
}

#reload:hover {
  width: 200px;
  border-radius: 10px;
  border: 2px solid rgba(231, 231, 231, 0.23);
  color: rgb(231, 231, 231);
  font-size: 22px;
  background-color: transparent;
  display: none;
  background-color: rgba(0, 0, 0, 0.793);
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
  font-family: cursive;
  letter-spacing: 1px;
  cursor: pointer;
  scale: 1.08;
}
