body{
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#canvas{
    border: 1px solid black;
    /* font-family: ; */
}

score{
    position: absolute;
    top: 100px;
}

